<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.byodassettracker"
    android:versionCode="4"
    android:versionName="4.10" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.byodassettracker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.byodassettracker.PasswordDialogActivity"
            android:label="@string/title_activity_password_dialog" >
        </activity>
        <activity
            android:name="com.example.byodassettracker.ScanActivity"
            android:label="@string/title_activity_scan"
            android:parentActivityName="com.example.byodassettracker.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.byodassettracker.MainActivity" />
        </activity>
        <activity
            android:name="com.example.byodassettracker.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.byodassettracker.SamplingActivity"
            android:label="@string/title_activity_sampling" >
        </activity>
        <activity
            android:name="com.example.byodassettracker.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name="com.example.byodassettracker.ScanResults"
            android:label="@string/title_activity_scan_results" >
        </activity>
    </application>

</manifest>
